body {
	display: flex;
	height: 100vh;
	margin: 0;
	font-family: "Sora", sans-serif;
}

div {
	height: 100%;
	width: calc(100% / 3);
	cursor: pointer;
	transition: width 750ms ease-in-out;
	transition-delay: 250ms;
	display: flex;
	align-items: center;
	justify-content: center;
}

div:nth-child(1) {
	background: #dedede;
	color: black;
}

div:nth-child(2) {
	background: #000;
	color: white;
}

div:nth-child(3) {
	background: #e9a4b3;
	color: white;
}

p {
	text-align: center;
	font-weight: 700;
	transition: all 750ms ease-in-out;
	transition-delay: 250ms;
}

div:hover {
	width: 200%;
}

div:hover p {
	transform: scale(4);
}