body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: "Questrial", sans-serif;
}
.recipe-card {
  border-radius: 15px;
  display: flex;
  // background: #eee;
  &__cover {
    cursor: pointer;
    background:#EEE;
    border-radius: 15px;
    position: relative;
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 30;
    transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
      0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
      0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
      0 100px 80px rgba(0, 0, 0, 0.07);
    &-details {
      z-index: 20;
      color: white;
      height: 100%;
      width: 100%;
      position: relative;
    }
  }

  &__img {
    display: flex;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: transform 0.3s ease-in;
    }
  }
  &__cover--open {
    transform: translateX(-80%);
    // border-top-right-radius: 0;
    // border-bottom-right-radius: 0;
  }
  &__cover:hover &__img {
    img {
      transform: scale(1.1);
    }
  }
  &__servings,
  &__duration {
    background: rgba(52, 73, 94, 0.8);
    width: 80px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    margin: 10px;
    text-align: center;
    font-size: 0.2em;
    transform: translatex(-120%);
    transition: transform 0.3s ease-in;
    text-transform: uppercase;
  }
  &__cover:hover &__servings,
  &__cover:hover &__duration {
    transform: translatex(0);
  }
  &__servings--show,
  &__duration--show {
    transform: translatex(0);
  }
  &__servings span,
  &__duration span {
    display: block;
    font-size: 3em;
  }
  &__info {
    position: absolute;
    bottom: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 25%,
      rgba(0, 0, 0, 0.6) 100%
    );
    padding: 0 20px;
    transition: transform 0.3s ease-in;
    transform: translateY(45%);
  }
  &__cover:hover &__info {
    transform: translateY(0%);
  }
  &__info--show {
    transform: translateY(0%);
  }
  &__title {
    font-family: "Enriqueta", serif;
    font-size: 1.2em;
  }
  &__description {
    font-size: 1.1em;
    line-height: 1.3;
  }
  &__content-container {
    width: 300px;
    height: 450px;
    margin-top:25px;
    background: #f5f5f5;
    position: absolute;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
      0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
      0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
      0 100px 80px rgba(0, 0, 0, 0.07);
    transition: 0.3s ease-in-out ;
    border-radius: 15px;
    overflow: hidden;
  }
  &__content-container--open {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transform: translateX(12%);
    width:500px;
  }
  &__actions {
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      height: 60px;
      width: 100%;

      align-items: center;
    }
    li {
      display: flex;
      height: 60px;
      width: 100%;
      transition: background-color 0.2s ease;
      align-items: center;
      justify-content: center;
      position: relative;
    }
    li:hover {
      background-color: #eee;
    }

    a {
      padding: 10px;
      text-decoration: none;
      color: #333;
      text-transform: uppercase;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.2s ease;
      font-weight: 900;
    }
    a:hover {
      border-bottom: 2px solid #2c3e50;
    }
    a::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    a.active {
      border-bottom: 2px solid #34495e;
    }
  }
  &__content {
    display: none;
    padding: 10px 20px;
    height: 360px;
    overflow-y: scroll;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      span {
        font-weight: 900;
        background: #34495e;
        color: white;
        padding: 5px 3px;
      }
    }
    li {
      min-height: 30px;
      display: flex;
      align-items: center;
      padding: 5px 3px;
      line-height: 1.4;
    }
    li:nth-child(even) {
      background: #eee;
    }
  }
  &__content--active {
    display: block;
  }
}

.preparation-steps{
  counter-reset: section;
}

.preparation-steps li{
  margin-left:10px;
  padding-left:30px;
  position:relative;
  border-left:3px solid rgba(52, 73, 94, .5);
}
.preparation-steps li::before{
  content:'1';
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  left:-21px;
  background: rgba(52, 73, 94, 1);
  color:white;
  border-radius:50%;
  height:2em;
  width:2em;
  display:flex;
  align-items:center;
  justify-content:center;
  border:4px solid #F5F5F5;
  counter-increment: section;
  content: counter(section);
}


@media screen and (max-width: 640px) {
  .recipe-card {
    flex-direction: column;
    &__cover {
      height: 50vh;
      width: 100vw;
      border-radius: 0;
      box-shadow: none;
    }
    &__cover--open,
    &__content-container--open {
      transform: translatex(0);
    }
    &__content-container {
      position: relative;
      height: 50vh;
      width: 100vw;
      border-radius:0;
      margin-top:0;
    }
    &__content{
      height:40vh;
      
    }
    &__info {
      transform: translateY(0);
    }
    &__duration {
      transform: translatex(0);
    }
    &__servings {
      transform: translatex(0);
    }
  }
}
